.button {
    text-decoration: none;
    color: #fff;
    background-color: #2b2baa;
    padding: 11px;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: 300;
    margin: 5px 5px;
    -webkit-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.04);
}