.three {
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(37, 37, 110, 0.88), rgba(31,31,93, 0.95)),
    url('../header/sgu.jpg') center/ cover;
    color: #fff;
    display: flex;
    padding: 100px 0 0 0 ;
}

.section-three-text {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.long-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.long-text-left {
    font-size: 2.2em;
    font-weight: 700;
    max-width: 550px;
    min-height: 200px;
    word-wrap: break-word;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.long-text-right {
    max-width: 500px;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 300;
}

.long-text-right p {
    padding: 0;
    margin: 0 0 15px 0;
}

.short-text {
    margin: 100px 10px 50px 10px;
}

.short-text ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    
}

.short-text li {
    max-width: 150px;
    min-height: 150px;
    list-style: none;
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 4em;
    max-width: 200px;
    height: 80px;
    margin-bottom: 20px;
}

.number-text {
    text-align: center;
    height: 70px;
    font-size: 1.2em;
    font-weight: 200;
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .long-text-left {
        font-size: 2em;
        max-width: 300px;
    }
}

@media (max-width: 1200px) {
    .long-text-left {
        border-bottom: 1px solid #fff;
        border-right: none;
        padding: 0 0 20px 0;
    }
    .long-text-right {
        margin: 20px 0px;
    }
}