.ones {
    min-height: 100vh;
    width: 100vw;
    margin-top: -150px;
    /* margin-bottom: 200px; */
    padding: 200px 0 40px 0;
    font-size: 1.2em;
    background-image: linear-gradient( 178.9deg,  rgba(255,255,255,1) 36.1%, rgba(211,211,211,1) 98.4% );
    border-radius: 50px;
}

.title {
    min-height: 20vh;
    max-width: 1200px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
}

.line {
    width: 70vw;
    height: 10px;
    background-color: #1f1f5d;
    float: right;
    margin: 50px 0;
    border-radius: 20px;
}

.flex-links {
    max-width: 1200px;
    min-height: 60vh;
    margin: 115px 0;
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
}

.mainitem , .links-item-first , .links-item-second {
    flex-grow:1;
    display: flex; 
    justify-content: center; 
    align-items: center;
    -webkit-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    border-radius: 20px;
    transition: 0.3s ease;
}

.mainitem {
    min-height:300px; 
    background: linear-gradient(rgba(0, 0, 114, 0.88), rgba(67, 69, 180, 0.623)),
    url('./img/block-link-1.jpg') center/ cover;
}

.side-item {
    flex-basis:150px; /* ширина 150 */
	flex-shrink:0; /* Убираем уменьшение = 150 */				   
	
	display: flex;
	flex-direction: column;
}

.side-item {
	flex-basis:50%;
	min-height:150px;
	margin-left:10px;
}
.links-item-first { 
    margin-bottom:10px;
    background: linear-gradient(rgba(0, 0, 114, 0.88), rgba(67, 69, 180, 0.623)),
    url('./img/block-link-2.jpg') center/ cover; 
}
.side-item :nth-child(2n) { 
    background: linear-gradient(rgba(0, 0, 114, 0.88), rgba(67, 69, 180, 0.623)),
    url('./img/block-link-3.jpg') center/ cover; 
}

.flex-links a {
    text-decoration: none;
    color: #fff;
    min-height: 15px;
    max-width: 199px ;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.267);
}

.mainitem:hover {
    transform: scale(1.03);
    filter: grayscale(0.7)
}

.links-item-first:hover {
    transform: scale(1.03);
    filter: grayscale(0.7)
}

.links-item-second:hover {
    transform: scale(1.03);
    filter: grayscale(0.7)
}

@media (max-width:767px) {
	.flex-links , .side-item {
        flex-direction: column;
    }
    .links-item-first , .links-item-second , .mainitem { 
        min-height: 375px;
        margin: 10px 10px 0 0;
    }
    .mainitem {
        margin-left: 10px;
    }
}