.flex-staff-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.item {
    max-width: 270px;
    min-height: 300px;
    margin: 11px 6px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 12px;
    transition: ease 0.4s;
    -webkit-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);

}

.item a {
    text-decoration: none;
    color: black;
}

.item img {
    min-height: 200px;
    object-fit: cover;
    /* background-color: #1f1f5d2f;
    border-radius: 10px; */
}

.staff-one {
    border-radius: 12px;
    margin: 20px 0px;
    padding: 30px;
    -webkit-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);

}

.staff-one h2 {
    font-size: 2em;
    font-weight: 400;
}

.item:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 5px 8px 11px 3px rgba(0, 25, 154, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(0, 25, 154, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(0, 25, 154, 0.62);
}