.tab-bar-item {
    height: 0;
    overflow: hidden;
  }
  
  .tab-bar-item.active {
    height: auto;
    /* border: 1px solid #EDEDED; */
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 3, 190, 0.432); */
    padding: 40px;
  }

  h2 {
    color: #1f1f5d;
  }