.tab-bar-item {
  height: 0;
  overflow: hidden;
}
  
.tab-bar-item.active {
  height: auto;
  padding: 15px;
}

.tab-bar-item.active .labs__logo {
  width: 80%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 20px;
}

h2 {
  color: #1f1f5d;
  font-size: 2em;
  font-weight: 400;
}

.tab-bar-item.active li {
  padding: 5px 0;
}


