.tab-bar-item {
    height: 0;
    overflow: hidden;
  }
  
  .tab-bar-item.active {
    height: auto;
    padding: 15px;
  }

  .tab-bar-item.active img {
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    border-radius: 20px;
  }

  h2 {
    color: #1f1f5d;
  }
