.centers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    /* -webkit-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    -moz-box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
    box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62); */
    margin-bottom: 50px;
    border-radius: 12px;
    padding: 20px 20px;
}

.centers-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centers-img img{
    position: relative;
    border-radius: 25px;
    margin: 20px;
    width: 85%;
    max-height: 600px;
    object-fit: cover;
}

.centers-title {
    width: 100%;
    display: flex;
    justify-content: center;
}